<div class="container">
  <h3 class="text-center">Comments:</h3>
  <div *ngFor="let comment of comments">
    <div class="row justify-content-md-center">
      <div class="col-lg-1 col-md-2 col-sm-4 avatar_position">
        <img *ngIf="comment.coach.photo" src="{{comment.coach.photo}}" class="avatar">
        <img *ngIf="!comment.coach.photo" src="../assets/img/user.png" class="avatar">
      </div>
      <div class="col-lg-10 col-md-9 col-sm-7">
        <div class="card">
          <div class="card-header" style="color: #333; background-color: #f5f5f5;" >
            <div class="row justify-content-between">
              <div class="col-3">
                <b>{{comment.coach.name}}</b>
              </div>
              <div class="col-2" style="text-align:right;">
                <span class="text-muted">{{comment.date | date: 'dd/MM/yyyy'}}</span>
              </div>
            </div>
          </div>
          <div class="card-body">
            {{comment.text}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
