
<button (click)="goBack()" type="button" class="btn btn-outline-primary" id="back"><i class="material-icons">keyboard_arrow_left</i> Back </button>
<div *ngIf="team" class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">
        <div class="card card-nav-tabs">
          <h4 class="card-header card-header-primary user-text click" style="font-weight:500;">
            <b class="">{{ team.name | uppercase }}</b>
          </h4>
          <div class="card-body">
            <!--Team Information-->
            <div class="row">
              <div class="col-lg-4 text-center">
                <img *ngIf="team.photo" class="team_img" src="{{team.photo}}" alt="{{team.name}}" height="140" width="140">
                <img *ngIf="!team.photo" class="team_img" src="../../assets/img/default.jpg" alt="{{team.name}}" height="140" width="140"><br>
                <h6 *ngIf="team.website"><strong>Website:</strong> {{team.website}}</h6>
                <h6><strong>Pipeline:</strong> {{ team.pipeline }}</h6>
                <h6><strong>Maturity level:</strong> {{ team.maturity_level }}</h6>
                <h6><strong>Date of entry:</strong> {{team.date_of_entry | date: 'dd/MM/yyyy'}}</h6>
                <h6 *ngIf="team.research_stream"><strong>Research stream:</strong> Yes </h6>
                <h6 *ngIf="!team.research_stream"><strong>Research stream:</strong> No </h6>
                <h6 *ngIf="team.coorporate_existance"><strong>Coorporate existance:</strong> Yes </h6>
                <h6 *ngIf="!team.coorporate_existance"><strong>Coorporate existance:</strong> No </h6>
                <h6 *ngIf="team.tag_line"><strong>Tagline:</strong> {{team.tag_line}}</h6>

              </div>
              <div class="vl"></div><!--Vertical line-->

                <div class="col-lg-8" style="margin-top:20px;">
                  <!--TEAM MEMBERS-->
                  <h5 class="text-center"><strong>TEAM MEMBERS</strong></h5>
                  <app-team-member></app-team-member>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <app-teamdeliverable></app-teamdeliverable>
        </div>
      </div>
  </div>


  <!-- <form (ngSubmit)="onSubmit()" #teamForm="ngForm">

<div class="form-group row">
<label for="teamId" class="col-sm-1 col-form-label">ID</label>
<div class="col-sm-4">
<input class="form-control-plaintext" type="text"
id="teamId" placeholder={{team.id}} readonly/>
</div>
</div>

<div class="form-group row">
<label for="teamName" class="col-sm-1 col-form-label">Name</label>
<div class="col-sm-4">
<input class="form-control"
id="teamName"
name="teamName"
#name="ngModel"
[(ngModel)]="team.name" placeholder="name" required/>
<div [hidden]="name.valid || name.pristine"
class="alert alert-danger">
Name is required
</div>
</div>
</div>

<div class="form-group row">
<label for="teamWebsite" class="col-sm-1 col-form-label">Website</label>
<div class="col-sm-4">
<input class="form-control"
id="teamWebsite"
name="teamWebsite"
#website="ngModel"
[(ngModel)]="team.website" placeholder="Website" required/>
<div [hidden]="website.valid || website.pristine"
class="alert alert-danger">
Website is required
</div>
</div>
</div>


<div class="form-group row">
<div class="btn-toolbar" role="toolbar">
<div class="btn-group mr-2" role="group" aria-label="first group">
<button type="submit" class="btn btn-primary">Save</button>
</div>
</div>
</div>
</form> -->
