<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper ">
  <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/plan.jpg" [ngClass]="{ 'active': navbarOpen }">
    <div class="logo">
      <a href="" class="simple-text logo-normal" style="font-family: 'Lobster', cursive;"><img src="../assets/img/startup.svg" onerror="this.onerror=null; this.src='startup.png'" style="height:30px; width:30px;">Accelerator</a>
    </div>
    <div class="sidebar-wrapper">
      <div class="logo">
        <a href="" class="user-text" style="font-weight:500;">COACH</a>
        <a href="" class="user-text" >
          <img src="../assets/img/faces/4.png" class="avatar" style="height:40px; width:40px; margin-right:6px; text-align:left;">Stefanidis Petros</a>
      </div>
      <ul class="nav mr-auto">
        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link" routerLink="/dashboard">
            <i class="material-icons">group</i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/teams">
            <i class="material-icons">group</i>
            <p>Teams</p>
          </a>
        </li>
      </ul>
      <div class="logo">
        <a routerLink="/deliverables" class="user-text" style="font-weight:500;">Deliverables</a>
      </div>
      <app-deliverable></app-deliverable>
    </div>
  </div>

  <div class="main-panel">
    <!-- Navbar -->
    <!-- <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="#pablo">Teams</a>
        </div>
        <button class="navbar-toggler" type="button" id="sidebarCollapse" (click)="toggleNavbar()">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
          <form class="navbar-form">
            <div class="input-group no-border">
              <input type="text" value="" class="form-control" placeholder="Search...">
              <button type="submit" class="btn btn-white btn-round btn-just-icon">
                <i class="material-icons">search</i>
                <div class="ripple-container"></div>
              </button>
            </div>
          </form>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">notifications</i>
                <span class="notification ">5</span>
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#pablo">
                <i class="material-icons">person</i>
                <p class="d-lg-none d-md-block">
                  Account
                </p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->
    <!-- End Navbar -->

  <router-outlet ></router-outlet>
  <!-- <app-messages></app-messages> -->
  </div>
  </div>
