#back{
  margin-top:20px;
  margin-left:20px;
  padding-left:20px;
}

#teamdeliverable{
  margin-top:50px;
}

#del_card {
  margin-left:50px;
  margin-right:50px;
}

.vl {
border-left: 1px solid #dee2e6;
height: 85%;
position: absolute;
left: 50%;
top: 33px;
}

.avatar_position{
  text-align: right;
  padding-right: 0px;
  padding-left: 0px;
  margin-top:10px;
}

.avatar{
  border-radius: 50%;
  background-color: #fff;
  height:80px;
  width:80px;
  border: 1px solid #dee2e6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
