<div class="text-center">
      <h6><b class="bold">Upload file:</b></h6>
      <div>
        <span class="btn btn-outline-primary btn-file">
          Upload <input name="imageUrl" type="file" accept="application/pdf" (change)="handleInputChange($event)">
          <!-- <input name="imageUrl" type="file" accept="image/*" (change)="handleInputChange($event)"> -->
        </span>
      </div>
      <div *ngFor="let file of files">
        <h6>{{file.name}}</h6>
        <div class="row justify-content-center">
          <button class="clear" (click)="clear()" class="btn btn-circle" style="background-color:#ff0066;"><i class="material-icons circle-icon">clear</i></button>
          <button (click)="save()" class="btn btn-circle" style="background-color:#00cc99;"><i class="material-icons circle-icon">done</i></button>
        </div>
      </div>
</div>
