<div class="teams">
  <div class="container-fluid">
    <div class="row">
      <div *ngFor="let team of teams">
          <div class="card  text-center card-stats">
            <a href="deliverable.html"><span></span></a>
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon team_card" style="background-image: url('../../assets/img/inagros.png');width:80px;height:80px;background-color:white;background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;"></div>
              <a [routerLink]="['/teams/', team.id]"><h3 class="team_name"><b>{{ team.name | uppercase}}</b></h3></a>
            </div>
            <div class=" row justify-content-center" style="margin-top:15px; margin-bottom:15px;">
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <a href="deliverable.html"><i class="material-icons circle-icon del_success" >group</i></a>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <a href="deliverable.html"><i class="material-icons circle-icon del_success" >store</i></a>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <a href="deliverable.html"><i class="material-icons circle-icon del_warning" >desktop_mac</i></a>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <a href="deliverable.html"><i class="material-icons circle-icon del_info" >feedback</i></a>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <a href="deliverable.html"><i class="material-icons circle-icon" >euro_symbol</i></a>
              </div>
            </div>
            <div class="card-footer" style="border-top: 1px solid #eee;">
              <div class="stats">
                <i class="material-icons">category</i> {{ team.pipeline | uppercase }}
              </div>
              <div class="stats">MATURITY LEVEL: {{ team.maturity_level }}</div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-team-detail [team]="selectedTeam"></app-team-detail> -->
