.teams {
  padding-top:100px;
}

.bar-position {
  margin-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

.team_name {
  text-align: left !important;
  color: rgb(127, 140, 141);
  font-family: 'Lato', Tahoma, Geneva, sans-serif;
}

/* .team_card {
  background-image: url('../../assets/img/inagros.png');
  width:80px;
  height:80px;
  background-color:white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} */


a {
color:rgb(127, 140, 141);
}

a:hover {
color: #c1e2fc;
}

.circle-icon {
background: grey;
color:white;
border-radius: 50%;
text-align: center;
vertical-align: middle;
padding: 10px;
}
