.teams_component{
  margin-top: 20px;
}

.teams{
  margin-top: 50px;
}

.bar-position {
  margin-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
}

.team_name {
  text-align: left !important;
  color: rgb(127, 140, 141);
  font-family: 'Lato', Tahoma, Geneva, sans-serif;
}

.team_card_icon {
  border-radius: 5px;
  background-color: #fff;
  margin-top: -35px;
  margin-right: 15px;
  float: left;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
}

.team_card_img {
  width:100px;
  height:100px;
  background-color:white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


a {
color:rgb(127, 140, 141);
}

a:hover {
color: #c1e2fc;
}

.circle-icon {
background: grey;
color:white;
border-radius: 50%;
text-align: center;
vertical-align: middle;
padding: 10px;
}

.check-input {
  margin: 0;
  left: 0;
  right: 5px;
  height: 20px;
  width: 20px;
  position: absolute;
}

.team-label {
  text-align:left;
}
