<div class="teams_component">
  <div class="container-fluid">
  <nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button  type="button" class="btn btn-outline-primary" (click)="open(content)"> Add Team </button>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active">
          <app-team-search></app-team-search>
        </li>
      </ul>
    </div>
  </nav>
  <div class="teams">
    <div class="row">
      <div *ngFor="let team of teams" class="col-lg-4 col-md-6 col-sm-12">
        <!-- <div class="offset-1"> -->
          <div class="card  text-center card-stats">
            <a href="deliverable.html"><span></span></a>
            <div class="card-header card-header-icon">
              <div class="team_card_icon">
                <!-- style="width:80px;height:80px;background-color:white;background-position: center;background-repeat: no-repeat;background-size: cover;position: relative;" -->
                <img class="team_card_img" src="../../assets/img/{{ team.id }}.png" alt="Card image cap">
              </div>
              <div class = "row justify-content-between">
                <a [routerLink]="['/teams/', team.id]"><h3 class="team_name"><b>{{ team.name | uppercase}}</b></h3></a>
                <button class="delete" title="delete team" type="button" class="btn btn-link"
                (click)="delete(team)">x</button>
              </div>
            </div>
            <div class=" row justify-content-center" style="margin-top:15px; margin-bottom:15px;">
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <a href="deliverable.html"><i class="material-icons circle-icon del_success" >group</i></a>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <a href="deliverable.html"><i class="material-icons circle-icon del_success" >store</i></a>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <a href="deliverable.html"><i class="material-icons circle-icon del_warning" >desktop_mac</i></a>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <a href="deliverable.html"><i class="material-icons circle-icon del_info" >feedback</i></a>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <a href="deliverable.html"><i class="material-icons circle-icon" >euro_symbol</i></a>
              </div>
            </div>
            <div class="card-footer" style="border-top: 1px solid #eee;">
              <div class="stats">
                <i class="material-icons">category</i> {{ team.pipeline | uppercase }}
              </div>
              <div class="stats">MATURITY LEVEL: {{ team.maturity_level }}</div>
            </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
    <!-- <div>
      <br>
      <h3>Add new team</h3><br>
      <label>Team name:</label> <input class="form-control col-4" #teamName />
      <label>Pipeline:</label> <input class="form-control col-4" #teamPipeline />
      <label>maturity level:</label> <input class="form-control col-4" #teamMaturityLevel />

      <button type="button" class="btn" (click)="add(teamName.value, teamPipeline.value, teamMaturityLevel.value );
                       teamName.value='';
                       teamPipeline.value='';
                       teamMaturityLevel.value='';
                       teamName.value=''">
        Add
      </button>
    </div> -->
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new team</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <input class="form-control col-8" #teamName placeholder="Team name" />
    <input class="form-control col-8" #teamPipeline placeholder="Pipeline" />
    <input type="number" class="form-control col-8" #teamMaturityLevel placeholder="Maturity level"/>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"(click)="add(teamName.value, teamPipeline.value, teamMaturityLevel.value );
                     teamName.value='';
                     teamPipeline.value='';
                     teamMaturityLevel.value='';
                     teamName.value=''">Add</button>
  </div>
</ng-template>
