
<div class="team_members">
  <div *ngFor="let teamMember of teamMembers"
  [class.selected]="teamMember === selectedTeamMember"
  (click)="onSelect(teamMember)">
  <div class="row">
    <div class="col-lg-3 avatar_position">
      <img src="{{ teamMember.photo }}" class="avatar">
    </div>
    <div class="col-lg-9">
      <h6><strong>Name:</strong> {{ teamMember.name }}</h6>
      <h6><strong>Email:</strong> {{ teamMember.email }}</h6>
      <h6><strong>Phone:</strong> {{ teamMember.phone }}</h6>
    </div><!-- /col-sm-5 -->
  </div><!-- /row -->
  <hr>
  </div>
</div>
