<div class="container-fluid content">
  <div class="row justify-content-center" style="margin-top:100px;">
    <div class="col-3">
      <div class="card card-profile">
        <div class="card-avatar">
          <a href="#pablo">
            <img *ngIf="!teamMember?.photo" class="img" src="{{profile.photo}}" />
            <img *ngIf="!teamMember?.photo" src="../../assets/img/user.png"/>
          </a>
        </div>
        <div class="card-body">
          <h6 *ngIf="profile.is_coach" class="card-category text-gray">Coach, {{coach?.organization}} </h6>
          <h6 *ngIf="is_team_member" class="card-category text-gray">Team Member</h6>
          <div *ngIf="is_team_member" style="text-align:left;">
            <h6><strong *ngIf="teamMember===editTeamMember">Name: </strong></h6>
            <h4 class="card-title">
              <span *ngIf="teamMember!==editTeamMember">{{teamMember?.name}}</span>
              <input *ngIf="teamMember===editTeamMember" [(ngModel)]="teamMember.name" class="form-control">
            </h4>
            <h6>
              <strong>Email: </strong>
              <span *ngIf="teamMember!==editTeamMember">{{teamMember?.email}}</span>
              <input *ngIf="teamMember===editTeamMember" [(ngModel)]="teamMember.email" class="form-control">
            </h6>
            <h6>
              <strong>Phone: </strong>
              <span *ngIf="teamMember!==editTeamMember">{{teamMember?.phone}}</span>
              <input *ngIf="teamMember===editTeamMember" [(ngModel)]="teamMember.phone" class="form-control">
            </h6>
            <h6>
              <strong>Team: </strong>
              <span *ngIf="teamMember!==editTeamMember">{{teamMember?.team?.name}}</span>
              <input *ngIf="teamMember===editTeamMember" [(ngModel)]="teamMember.team.name" class="form-control">
            </h6>
            <h6>
              <strong *ngIf="teamMember===editTeamMember || teamMember?.role">Role: </strong>
              <span *ngIf="teamMember!==editTeamMember && teamMember?.role">{{teamMember?.role}}</span>
              <input *ngIf="teamMember===editTeamMember" [(ngModel)]="teamMember.role" class="form-control">
            </h6>
            <h6>
              <strong *ngIf="teamMember===editTeamMember || teamMember?.field">Field: </strong>
              <span *ngIf="teamMember!==editTeamMember && teamMember?.field">{{teamMember?.field}}</span>
              <input *ngIf="teamMember===editTeamMember" [(ngModel)]="teamMember.field" class="form-control">
            </h6>
            <div style="float: right;">
              <button *ngIf="teamMember===editTeamMember" title="Save team member"(click)="updateTeamMember()" class="btn btn-circle" style="background-color:#00cc99;"><i class="material-icons circle-icon">done</i></button>
              <button *ngIf="teamMember!==editTeamMember" title="Edit team member" (click)="editTeamMemberMethod(teamMember)" class="btn btn-circle" style="background-color:#26c6da;"><i class="material-icons circle-icon">edit</i></button>
            </div>
          </div>
          <div *ngIf="is_coach">
            <h6><strong>Organization: </strong>{{coach?.organization}}</h6>
            <h6><strong>Field: </strong>{{coach?.field}}</h6>
            <h6><strong>Job Title: </strong>{{coach?.job_title}}</h6>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf = "is_team_member" class="col-8">
      <app-team-card [team]="teamMember?.team"></app-team-card>
    </div>
  </div>
</div>
