
<div class="col-md-4" style="margin-top:100px;">
  <div class="card card-profile">
    <div class="card-avatar">
      <a href="#pablo">
        <img class="img" src="../assets/img/user.png" />
      </a>
    </div>
    <div class="card-body">
      <!-- <h6 *ngIf="{{profile.is_coach}}" class="card-category text-gray">Coach</h6>
      <h6 *ngIf="{{profile.is_team_member}}" class="card-category text-gray">Team Member</h6> -->
      <h4 class="card-title">{{profile.name}}</h4>
      <h6><strong>Email:</strong>{{profile.email}}</h6>
      <h6><strong>Phone:</strong>{{profile.phone}}</h6>
      <h6><strong>Username</strong>{{username}}</h6>
      <h6><strong></strong></h6>
      <h6><strong></strong></h6>
      <div *ngIf="is_team_member">Yesss!</div>


    </div>
  </div>
</div>
